@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Ubuntu:wght@700&display=swap');

.header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    font-family: 'Kanit', sans-serif;
}

.fa-bar-chart {
    font-size: 24px;
}

.header a {
    font-size: 24px;
    margin-right: 3px;
}

.promo {
    background: url("../image/servers.jpg") center center;
    min-height: 500px;
    width: 100%;
    text-align: center;
    opacity: 0.86;
}

.promo h1 {
    color: #fcfcfc;
    font-size: 70px;
    font-weight: 300;
    padding-top: 100px;
}

.promo-btn {
    margin-top: 30px;
}

#btn-redirect {
    font-size: 20px;
    line-height: 1.5;
    border-radius: 0.73rem;
}

.btn-light {
    color: black;
    background-color: #95ff00;
    border-color: #95ff00;
}

.description {
    margin-top: 40px;
    margin-bottom: 40px;
}

.description h2 {
    color: black;
    font-size: 40px;
}

.description p {
    font-size: 17px;
}

.line {
    width: 100%;
    padding-top: 3px;
    background-color: #a7f73675;
}

.footer {
    background-color: #a7f736;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
}

a {
    color: black;
}

a:hover, a:focus {
    text-decoration: none;
    color: darkgrey;
}

.footer a {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.additional-back {
    background-color: black;
    opacity: 0.8;
    min-height: 500px;
}


