@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');


body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1B1212;
}

.btn-counter {
    border: none;
    min-width: 160px;
    line-height: 30px;
    background-color: #a7f736;
    border-radius: 5px;
    font-family: 'Nunito Sans', sans-serif;
}

a.logout-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #dc3545;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    height: 40px;
    margin-top: -5px;
}

a.logout-button:hover {
    background-color: #a92532;
}

.btn-counter:hover, .btn-counter:focus, .btn-counter:active {
    background-color: #9bf51d;
    text-decoration: none;
}

.btn-link, .btn-link:hover {
    color: #1B1212;
    text-decoration: none;
}

.input-search {
    font-size: 4px;
}

.input-search:hover, .input-search:focus, .input-search:active {
    box-shadow: none;
    border: 1px solid #a7f736;
}

.btn-search {
    width: 40px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #a7f736;
}

.btn-search:hover, .btn-search:focus, .btn-search:active, .btn-search:visited {
    background-color: #9bf51d;
}

table {
    table-layout: fixed;
}

th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.td-name, .td-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.th-widget {
    width: 14%
}

.td-name {
    width: 21%
}

.action-counter {
    width: 10%;
}

.link-counter {
    color: #1B1212;
    text-decoration: none;
}

.link-counter:hover {
    color: #79cc02;
}

.line {
    border-bottom: 1px solid #DCDCDC;
}

.not-founded-text {
    font-size: 16px;
    color: #6c757d;
}


