@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

.language-html {
    display: block;
    font-size: 14px;
    font-family: monospace;
    white-space: pre-wrap;
    line-height: 1.5;
    color: #333;
}


.container {
    margin: 0 auto;
    padding-left: 15px;
    max-width: 80%;
}

.field {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.field input {
    font-size: 1rem;
    width: 60%;
    padding: 2px 0px 2px 2px;
    border-radius: 4px;
    border-color: #c5c5c5;
}

.submit_btn-wrap {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.submit_btn-wrap button {
    padding: 12px 36px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;
    border: 1px solid rgba(204, 204, 204, 0.5);
    background-color: #A7F736FF;
	color: black;
}

.submit_btn-wrap button:hover {
    background-color: #7FD20BFF;
	border-color: #7FD20BFF;
	color: #000000;
}

.breadcrumb {
    background-color: white;
}

#counter_name {
    font-size: 16px;
}

.text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0px 20px;
    margin-top: 25px;
    max-width: 500px;
  }