@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

.main-wrapper {
	background: linear-gradient(to right top, #757F9A 0%, #D7DDE8 100%);
	height: 100vh;
	padding-top: 200px;
	overflow-y: scroll;
}

.container {
	margin: 0 auto;
	width: 350px;
}

.auth-form {
	background: white;
	border-radius: 0.5rem;
	box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
	padding: 1.5rem 2rem;
}

.auth-form h1 {
	color: rgba(0, 0, 0, 0.8);
}

.auth-form h1,
.button-send-wrap {
	text-align: center;
}

.form-inputs {
	padding-top: 40px;
}

.user-input {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 10px
}

.user-input label {
	font-size: 14px;
	font-weight: 500;
}

.user-input input {
	outline: none;
	display: block;
	width: 100%;
	height: calc(1.4285714286em + 1rem + 2px);
	padding: 0.5rem 0.875rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.4285714286;
	color: #333;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #e7e7e7;
	border-radius: 0.375rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.forgot {
	font-size: 11px;
	font-weight: 500;
	padding-top: 5px;
}

.forgot a,
.register a {
	color: #92d82f;
}

.button-send-wrap {
	padding-top: 30px;
}

.button-send {
	cursor: pointer;
	font-weight: 600;
	width: 100%;
	border-color: rgba(0, 0, 0, 0);
	border: none;
	background: #a7f736;
	color: #000;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	line-height: 1.4285714286;
	border-radius: 0.375rem;
	transition: all .2s ease-in-out;
}

.register {
	padding-top: 20px;
	font-size: 0.75rem;
	text-align: center;
}

.register a {
	font-weight: 600;
}