{% extends 'web/base.html' %}
{% block head %}
    {% load static %}
    <link href="{% static 'src/assets/main.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}

    {% comment %} TODO что это? сделайте отдельную страницу для тестирования {% endcomment %}
<div><img src="https://site-stats.ya.uenv.ru/api/getmetadata/32"/></div>

{#<script type="module" src="{% static '/src/assets/collectdata.js' %}"></script>#}

 <div class="promo">
        <div class="additional-back">
            <div class="container">
                <h1>FreeStat - бесплатная система статистики для вашего сайта</h1>
                <div class="promo-btn">
                    {% if user.is_authenticated %}
                    <a id="btn-redirect" class="btn btn-light mt-5" href="{% url 'counters' %}">Перейти</a>
                    {% else %}
                    <a id="btn-redirect" class="btn btn-light mt-5" href="{% url 'auth' %}">Перейти</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="description mt-4 mb-4">
            <h2 class="mb-2">Что это такое?</h2>
            <p>Статистика сайта - это числовые и процентные данные, указывающие на популярность сайта
                (количество посещений сайта), информация об источниках посещений и демографии пользователей.
                Статистика сайта позволяет вам проверять посещаемость сайта и позволяет проводить точный анализ и
                распознавать явления, происходящие во время посещения определенного домена.
            </p>
        </div>
    </div>

{% endblock content %}
