  .footer {
        border: 2px solid #a7f736;
        background-color: #a7f736;
        color: white;
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .footer a {
        color: #000000;
        text-decoration: none;
        margin-right: 10px;
    }