@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}


.container {
    margin: 0 auto;
    padding-left: 15px;
    max-width: 80%;
}

.field {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.field input {
    font-size: 1rem;
    width: 60%;
    padding: 2px 0px 2px 2px;
    border-radius: 4px;
    border-color: #c5c5c5;
}

.submit_btn-wrap {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.submit_btn-wrap button {
    padding: 12px 36px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;
    border: 1px solid rgba(204, 204, 204, 0.5);
    background-color: #A7F736FF;
	color: black;
}

.submit_btn-wrap button:hover {
    background-color: #7FD20BFF;
	border-color: #7FD20BFF;
	color: #000000;
}

.breadcrumb {
    background-color: white;
}

#counter_name {
    font-size: 16px;
}